Flask==1.0.2
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-RESTful==0.3.7
Flask-S3==0.3.3
Flask-SQLAlchemy==2.3.2
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gunicorn==19.9.0
h5py==2.8.0
jedi==0.12.1
Jinja2==2.10
Keras==2.1.3
numpy==1.14.3
Pillow==5.2.0
scikit-image==0.14.0
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.3.2
tensorboard==1.9.0
tensorflow==1.9.0
Werkzeug==0.14.1
WTForms==2.2.1
