Flask==1.1.1
Flask-Bootstrap==3.3.7.1
Flask-Login==0.4.1
Flask-RESTful==0.3.7
Flask-S3==0.3.3
Flask-SQLAlchemy==2.4.1
Flask-Uploads==0.2.1
Flask-WTF==0.14.2
gunicorn==19.9.0
h5py==2.8.0
jedi==0.12.1
Jinja2==2.10.1
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
numpy==1.16.4
Pillow==5.2.0
pyopenssl==19.0.0
scikit-image==0.15.0
scikit-learn==0.21.2
scipy==1.1.0
six==1.11.0
SQLAlchemy==1.3.2
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
Werkzeug==0.15.5
WTForms==2.2.1
