/*------------------------------------------------------------------------------
    MAIN  STYLES    
------------------------------------------------------------------------------*/

@font-face {
    font-family: 'Jura';
    font-weight: 400 500;
    src: url('/static/fonts/TTF/Jura-Medium.otf');
}
@font-face {
    font-family: 'Jura';
    font-weight: 600;
    src: url('/static/fonts/TTF/Jura-DemiBold.otf');
}

body {
    font-family: 'Jura', sans-serif;
    background-image: url('../../static/img/background.png');
    background-size: cover;

}


#wrapper {
    width: 100%;

}


#page-index {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    top: 55px;
    min-height: 800px;

}

#page-index a {
    text-decoration: none;
    outline: 0;
}

.text-center {
    text-align: center;
}


#text {
    color: black;
}


label {
    margin-left: 30px;
    font-weight: normal;
    color: black;
    font-size: 12px;
}

.no-padding-left {
    padding-left: 0px !important;
}

h2 {
    color: black;
    font-size: 20px;
    margin: 5px;
}

.plain-element {
    margin:0px;
    padding: 0px;
}

.warning {
    color: red;
}


.box {
   display: flex;
   align-items:center;
   margin-bottom: 10px;
}

#error {
    color: red;
    display:none;
}


.img-icon {
    border-radius: 50%;
}


.card-content h6{
    color: #252b30;
    font-size: 12px;
    line-height: 120%;
}

button {
    font-family: 'Jura', sans-serif;
    text-transform: none !important;
}

/*------------------------------------------------------------------------------
    ROWS
------------------------------------------------------------------------------*/

.row-alert {
    min-height: 72px;
}


.row-title {
    width: 100%;
    color: #181818;
    font-size: 1rem;
    font-weight: 900;
    text-align: center;
}


.row-cards {
    width: 50%;
    text-align: center;
}

.row-form {
    width: 70%;
    text-align: center;
}


.dashboard-cards {
    width: 60%;
    margin: auto;
}

.row-title {
    width: 100%;
    margin: auto;
    text-align: center;

}

.row-form-s6 {
    width: 50%;
    margin: auto;
}

.row-form-s3 {
    width: 25%;
    margin: auto;
}


.row-title h1 {
    font-size: 24px;
    font-weight: 500;
    color: white;
    margin-bottom: 1%;
    margin-top: 0;
}

.row-title p {
    color: #657786;
    font-size: 12px;
    font-weight: 500;

}


.row-cards {
    width: 100%;
    text-align: center;
    margin-top: 6px;
    margin-bottom: 3%;
}

.row-blue {
    padding: 2%;
    background: #1da1f2;

}


.row-side-blue {
    height: 95px;
    min-height: 95px;
    margin: 0;
    background: #1da1f2;
    border: none;


}

.row-description {
    margin: 0px;
}

.row-description p {
    color: #657786;
    font-size: 0.8rem;
    margin-bottom: 5px;
    font-weight: 300;
    z-index: 5;
}

.row-trend {
    margin-bottom: 0px;
    height: 40px;

}

.row-side-trend {
    margin-bottom: 0px;
    height: 40px;
}

.row-button {
    margin: 3%;
}


.row-visit {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e6ecf0;
}

.row-visit h2{
    font-size: 1rem;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #14171a;
    font-weight: 600;
}


.row-visit h5 {
    color: #657786;
    font-size: 0.8rem;
    margin: 5px;
    font-weight: 300;
    z-index: 5;
}


#tweetColumn {
    max-height: 490px;
    overflow: auto;
}

#tweetColumnLong {
    max-height: 690px;
    overflow: auto;
}


.row-break {
    margin-bottom: 9px;
}


.hashtag-column {
    position: relative;
    top: -30px;
}

.hashtag-icon {
    font-size: 35px;
    color: #fff;
    background: #1da1f2;
    padding: 15px 17px 15px 17px;
    border: 1px solid #A4D9F9;
    border-radius: 50px;

}
/*------------------------------------------------------------------------------
    FOOTER
------------------------------------------------------------------------------*/

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: #181818;
}

.footer p {
    margin: 0;
    font-size: 12px;
    color: #fff;
    padding: 15px 0px;
    text-align: center;
}

.footer a {
    color: #fff;
}

.footer a:hover,
.footer a:focus,
.footer a:active {
    color: #4f84ae;
    text-decoration: none;
}

/*------------------------------------------------------------------------------
    ANIMATIONS
------------------------------------------------------------------------------*/

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #8c8c8c;
  border-radius: 50%;
  width: 48px;
  height: 48px;
  animation: spin 1.5s linear infinite;
  margin: auto;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES     
------------------------------------------------------------------------------*/


/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/


@media(max-width:1700px) {

    .row-form {
        width: 40%;
    }

    .btn-submit {
        width: 30%;
    }

}

/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:1440px) {

    .row-title {
        width:90%;
        font-size: 1.5rem;

    }

    .row-cards {
        width: 80%;
    }

    .row-form {
        width: 50%;
    }

    .btn-submit {
        width: 60%;
    }

    .img-icon {
        width: 45px;
        height: 45px;
    }


}
/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:993px) {

    .dashboard-cards {
        width: 100%;
    }

    .btn-visit {
        font-size: 9px;
    }



    .row-description p {
        font-size: 0.7rem;
    }


    .img-icon {
        width: 36px;
        height: 36px;
    }

}



/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:522px) {

    .row-title {
        width:90%;
        font-size: 1.5rem;

    }

    .row-cards {
        width: 100%;
    }

    .row-form {
        width: 80%;
    }

    .img-icon {
        width: 48px;
        height: 48px;
    }



}
