/*------------------------------------------------------------------------------
    DASHBOARD CARDS
------------------------------------------------------------------------------*/

.dashboard-cards {
    width: 60%;
    margin: auto;
}



.img-pet {
    width:80%;
    margin: auto;
    -webkit-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 4px 5px 0px rgba(0,0,0,0.75);

}

.card-prediction {
    width: 40%;
    margin: auto;
    border: none;
    box-shadow: none;
    display: none;
    background: transparent;
}

.card .card-content {
    padding: 12px;
}

.card-title {
    padding-top: 0%;
    width: 98%;
    margin: auto;

}


.card-side {
    padding-top: 0%;
    width: 94%;
    margin: auto;
    margin-bottom: 6px;
    text-align: left;
    padding-bottom: 1px;
    border: 1px solid #e6ecf0;
    border: none;
}

.card-side h1 {
    font-size: 1rem;
    margin-top: 1%;
    margin-bottom: 1%;
    color: #14171a;
    font-weight: 600;
}

.card-side .card-content {
    padding: 15px;
    padding-top: 0px;
    padding-bottom: 12px;
    margin-top: 0px;
    color: #1DA1F2;
    font-weight: 500;
    font-size: 0.8rem;
    max-height: 700px;
    overflow: auto;

}

.card-side .card-content p {
    color: #657786;
    font-size: 0.7rem;
    margin-bottom: 5px;
    font-weight: 500;
    z-index: 5;
}















/*------------------------------------------------------------------------------
    EDIT & ADD FORMS + TABLE
------------------------------------------------------------------------------*/

input[type="text"]:not(.browser-default),
input.valid[type="text"]:not(.browser-default){
     border: 0px solid white;
     height: 2.5rem;
     box-shadow: 0 1px 0 0 grey;
     font-family: 'Jura', sans-serif;

}

::placeholder {
    color: #191919;
}

/*------------------------------------------------------------------------------
    BUTTONS
------------------------------------------------------------------------------*/


.btn-submit {
    width: 50%;
    height: 3rem;
    border-radius: 5px;
    border-color: transparent;
    text-align: center;
    color: white;
    background-color: #165d81;
    font-size: 1.2rem;
    font-family: 'Jura', sans-serif;
}

.btn-submit:hover, .btn-submit:active, .btn-submit:focus {
    background-color: #0f415a;
    color: white;
}

.btn-file {
    width: 20%;
    height: 2.5rem !important;
    line-height: 2.5rem !important;
    border-color: transparent;
    text-align: center;
    color: white;
    background-color:  #C0C0C0;
    font-size: 16px;
    font-family: 'Jura', sans-serif;
}

.btn-file:hover, .btn-file:active, .btn-file:focus {
    background-color:  #A9A9A9;
    color: white;
}
