

/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


/* MAX WIDTHS: LARGE SCREEN---------------------------------------------------*/


@media(max-width:1700px) {

    .dashboard-cards {
        width: 80%;
    }

    .card-data {
        min-height: 400px;
        overflow: auto;
    }

    .card-data-short {
        min-height: 100px;
    }

    .card-side h1 {
        font-size: 0.9rem;
    }

    .hashtag-icon {
        font-size: 32px;
        color: #fff;
        background: #1da1f2;
        padding: 15px 17px 15px 17px;
        border: 1px solid #A4D9F9;
        border-radius: 50px;
    }

    .card-side .card-content {
        padding-bottom: 1px;
    }

    .img-icon {
        width: 45px;
        height: 45px;
    }

    .card-projects p {
        font-size: 0.8rem;
    }



    .btn-visit {
        font-size: 9px;
        padding: 2px 12px;
    }


    .card-side .card-content {
        padding-bottom: 4px;
    }

    .row-break {
        height: 10px;
    }

    .card-menu p {
        font-size: 0.7rem;
    }


}



/* MAX WIDTHS: MEDIUM SCREEN---------------------------------------------------*/

@media(max-width:1024px) {
    .dashboard-cards {
        width: 100%;
    }

    .btn-visit {
        font-size: 9px;
    }


    .card-side h1 {
        font-size: 0.9rem;
    }

    .card-side .card-content {
        padding-bottom: 11px;
    }

    .img-icon {
        width: 36px;
        height: 36px;
    }

    .card-projects p {
    font-size: 0.76rem;
    }



}


/* MAX WIDTHS: EXTRA-SMALL SCREEN---------------------------------------------*/

@media(max-width:522px) {

    .dashboard-cards {
        width: 95%;
        margin-bottom: 80px;
    }

    #activeTrendsColumn {
        display: none;
    }

    .card-projects,
    .card-side {
        width: 98%;
    }

    .card-data {
        height: 360px;
        min-height: 360px;
        overflow: auto;
    }

    .img-icon {
        width: 48px;
        height: 48px;
    }

    .card-projects p {
    font-size: 0.9rem;
    }


}
