
/*------------------------------------------------------------------------------
    TOP NAVBAR
------------------------------------------------------------------------------*/

.navbar {
    border-radius: 0px;
}


.top-navbar .navbar-brand strong {
    font-size: 13px;
    font-weight: normal;
    display: block;
    color: #1DA1F2;
}


.top-navbar {
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: 300;
    border: none;
    height: 42px;
    padding-left: 19.6%;
    padding-right: 20.5%;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 42px;

}

.top-navbar .navbar-brand {
    margin: 0px;
    width: 100%;
    height: 42px;
    text-align: left;
    padding-top: 6px;
    font-weight: 700;
    color: #1a2026;
    background: transparent;

}
.navbar-header {
    width: 30%;
}

.navbar-brand .company-logo {
    height: 2.2rem;
}

.navbar-brand .material-icons, .navbar-brand .fab, .navbar-brand .fas {
    float: left;
    font-size: 18px;
    margin-right: 5px;
    margin-top: -1px;
    height: auto;
    color: #1DA1F2;
}

.nav > li {
    height: 100%;
}

nav ul a {
    font-size: 13px;
}

.nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;

}

.nav-link {
    height: 100% !important;
    padding: 14px 0px 20px 25px !important;
}


.nav i, .nav i.material-icons {
    height:20px;
    font-size: 14px;
    margin-right: 5px;
}


.top-navbar .navbar-right {
    width: auto;
    height: 100%;
    margin: 0px;
    line-height: 1;
    padding: 0px;
    color: #1a2026;
    float: right !important;
}

.top-navbar .navbar-right>a {
    padding: 0px;
    font-size: 13px;
    font-weight: 650;
}

.top-navbar .navbar-right>a>i {
    margin-right: 5px;
    font-size: 16px;
    height: 60px;
}



.dropdown-content {
    width: max-content !important;
    left:  20px !important;
    top: 42px !important;

}

.dropdown-content li>a {
    font-size: 13px;
    text-decoration: none;
}
.dropdown-content li>a>i {
    margin-right: 12px;
    font-size: 18px;
}


.dropdown-content li>fa {
    font-size: 16px;

}

.sidenav-trigger {
    height: 40px !important;


}

.sidenav-trigger i {
    font-weight: bold;

}


#trigger {
   position: fixed
   height:24px;
   font-size: 24px;
   padding: 0px;
}

.sidenav li > a > i {
    margin: 0px !important;
}



/* Hovers and Focuses --------------------------------------------------------*/

.navbar-right>a:hover,
.navbar-right>a:focus {
    text-decoration: none;
    outline: 0px;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    outline: 0px;
}


nav ul a:hover {
    background-color: #fff;
    color: #003252;
}

nav ul li:hover, nav ul li:active {
    background: transparent;

}


.sidenav li > a:hover {
    background: #fff;
    color: #1da1f2;
}

/*------------------------------------------------------------------------------
    Colors
------------------------------------------------------------------------------*/

.top-navbar {
    background: #ffffff;
    box-shadow: none;
    border-bottom: 1px solid rgba(0,0,0,0.4);
}

.navbar-brand .material-icons {
    color: #1da1f2;
}

nav ul a {
    color: #798b9a;
}

.dropdown-content {
    background-color: white;
}

.dropdown-content li>a {
    color: #798b9a;
    background-color: #fff;
}

.dropdown-content li>fa {
    color: #003f67;
}


.navbar-right>a:hover,
.navbar-right>a:focus {
    background: transparent;
    color: #e5ebef;
}

.navbar-default .navbar-brand:hover
.navbar-default .navbar-brand:focus {
    color: #e5ebef;
}

.nav i {
    color: inherit;
}


 nav ul a:hover {
     background-color: #f5f8fa;
     color: #1da1f2;
 }

.nav > li > a:hover,
 .nav > li > a:focus,
 .nav > li > a:active{
    background-color: transparent;
    color: #4f88be;
}

 .navbar-default .navbar-brand:hover {
    color: #e5ebef;
 }

.sidenav {
    background: #3b6e9f;
}

.sidenav li > a {
    color: #fff;
}

.sidenav li > a > i {
    color: inherit;
}

.mid-tweet {
    color: #1da1f2;
}


/*------------------------------------------------------------------------------
    MEDIA QUERIES
------------------------------------------------------------------------------*/


@media(max-width:1700px) {
    .top-navbar {
        padding-left: 9.5%;
        padding-right: 10.5%;
    }

    .navbar-header {
        width:35%;
    }

}

@media(max-width:1300px) {
        .top-navbar {
        padding-left: 5%;
        padding-right: 6%;
    }

}

@media(min-width:1025px) {

    .sidenav-trigger {
        display: none !important;
    }


}
@media(max-width:1025px) {
    .top-navbar {
        margin: 0px;
        padding-left: 0%;
        padding-right: 0%;
    }

    .top-navbar .navbar-brand {
        width: 280px;
        font-size:  2rem;
        padding: 10px;
    }


    .navbar-brand i.large.material-icons {
        font-size: 40px;
    }


    .dropdown-content {
        margin-top: -10px;
    }

    .nav-link {
        display: none !important;
    }

    .navbar-header {
        width: 70%;
    }

}


@media(max-width:415px) {

    .top-navbar {
        margin: 0px;
        padding-left: 1%;
        padding-right: 1%;
    }

    .top-navbar .navbar-brand {
        height: 60px;
        width: 100%;
        font-size:  2rem;
        padding: 10px;


    }
    .navbar-brand i.large.material-icons {
        font-size:  2rem;

    }

    .top-navbar .navbar-right {
        position: relative;
        top: -60px;
    }


}



