{% extends 'base.html' %}

{% block content %}

<div class="row row-title">
    <div class="card card-title">
        <div class="row row-blue">
            <h1 id="Text"><i class="fas fa-code"></i> &nbsp; Code Blog </h1>
        </div>
        {% for element in blog_list %}
        <div class="card card-sentiment visible">

            <div class="card-content">
                <div class="card-image">
                    <img class="img-blog img-responsive" src="{{ element.img }}" alt="App Image"/>
                </div>
                <button class="btn-sentiment" id="buttonSentiment">
                    <b id="sentiment">{{ element.title }}</b> - {{element.date}}
                    <p>{{ element.content }}</p>
                </button>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
